
<form action="/random/results">
  <label for="giraffe">Minimum</label>
  <input id="giraffe" type="text" placeholder="E.g. 1.5" name="tree">

  <label for="giraffe">Maximum</label>
  <input id="giraffe" type="text" placeholder="E.g. 4.5" name="tree">

  <button> Pick random number </button>

</form>

