<h1>Howdy</h1>

<form action="/square_root/results">
  <label for="tree">Enter a number</label>
  <input id="tree" type="text" placeholder="What number we want to square root" name="rabbit">

  <button type="submit"> Calculate square root </button>

</form>

