<h1>Howdy</h1>


<form>
  <label for="giraffe">Enter a number</label>
  <input id="giraffe" type="text" placeholder="What number we want to square" name="elephant">

  <button>Caculate square</button>

</form>